<ion-header>
  <ion-navbar primary>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="loginLocal()">
    <ion-list>
      <ion-item>
        <ion-label floating>
          <span *ngIf="!formErrors.username">
            Username *
          </span>
          <span danger *ngIf="formErrors.username">
            {{formErrors.username}}
          </span>
        </ion-label>
        <ion-input name="username" type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>
          <span *ngIf="!formErrors.password">
            Password *
          </span>
          <span danger *ngIf="formErrors.password">
            {{formErrors.password}}
          </span>
        </ion-label>
        <ion-input name="password" type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <a (click)="showSignup()">Show signup form</a>
    </div>
    <div padding>
      <button block type="submit" [disabled]="!form.valid">Login!</button>
    </div>
  </form>
</ion-content>
